a:link, a:visited, a:active {
    text-decoration:none;
}
.foto{
    /* position: fixed; */
    margin-top: -3%;
    padding-top: 0%;
    margin-left:0%;
    width: 100%;
    color: rgb(71, 57, 168);
	font-weight: normal;
	font-size: 40px;
    font-family: "Sofia", cursive;

    font-weight:600;


}
 .card{
    margin-top: 7%;
    background-color: white;
    text-decoration: none;
    width: 98%;
    
}

.ordenAlfabetico {
    margin:auto;
    background-color: rgb(53, 43, 119);
    text-decoration: none;
    width: 60%;
    color:#e5e5e5;
    /* border-radius:3%; */
    border-color: none ;
    cursor:pointer;
    font-family:Georgia;
    font-size:16px;
    font-weight:bold;
    padding:1% 10%;
    /* justify-content: center; */
    
}

.orden {
    margin:auto;
    background-color: white;
    text-decoration: none;
    width: 60%;
   
    
}


