.DetailContainer{
    background: rgb(40, 30, 100);
    padding: 5%;
    padding-top: 2%;
    padding-bottom: 2%;
    max-height: 60%;
    max-width: 60%;
    height: auto;
    width: auto;
    display:inline-block; 
    align-items:flex-start; 
    margin: 5% ;
    flex-direction: column;
     justify-content: space-between; 
    align-items: center;
    
    border-radius: 15px;
    
}


.nombre{
    font-size: 35px;
    color: #FFC400;
    margin-top: 0%; 
    font-family:Verdana;
       
    
}
.image{
    width: 70%;
    height: auto;
    margin-top: 0px;
}


.descripcion{
    color: #e5e5e5;
    font-size: 15px;
    margin-top: 5%;
    font-family:Verdana;
}


.boton {
    font-style:normal;
    padding:5px 5px;
    text-decoration:none;  
    background-color:#e5e5e5;
    border-radius:20px;
    display:inline-block;
    cursor:pointer;
    color:rgb(40, 30, 100);
    font-family:Verdana;
    font-size:14px;
    font-weight:bold;
    
    padding:5px 30px;
    text-decoration:none;
   
}
.boton:hover{
    background:rgb(71, 57, 168);
    cursor:pointer;
    color:#e5e5e5;
    }

 .gif{
    width: 50%;
    height: 50%;
 }