.botonPaginado {
    
background-color: rgb(53, 43, 119);
border-radius:42px;
cursor:pointer;
color:#e5e5e5;
font-family:Georgia;
font-size:16px;
font-weight:bold;
padding:5px 10px;
text-decoration:none;
}
.botonPaginado:hover{
background-color:#e5e5e5; 
color: rgb(53, 43, 119);
}

.paginadoContenedor{
    display:flex;
    justify-content: center;
    gap: 6px;

}

